*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: "Microsoft YaHei", "PingFang SC", sans-serif;
}

code {
  font-family: 'Operator Mono', Consolas, Monaco, "Microsoft YaHei", "PingFang SC", monospace;
}

.mid-box {
  text-align: center;
}

.mid-box > *, .mid-box:after {
  display: inline-block;
  vertical-align: middle;
}

.mid-box:after {
  content: '';
  width: 0;
  height: 100%;
}

.div-ib {
  display: inline-block;
}

.div-pr {
  position: relative;
}

.div-oh {
  overflow: hidden;
}

.row-one, .row-two {
  width: 100%;
}

.row-one {
  min-width: 800px;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  position: relative;
  display: table;
}

.bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

*[class^=col-] {
  display: table-cell;
}

*[class^=col-].v-mid {
  vertical-align: middle;
}

*[class^=col-].h-right {
  text-align: right;
}

*[class^=col-].h-center {
  text-align: center;
}

*[class^=col-].h-left {
  text-align: left;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333%;
}

.col-6 {
  width: 50%;
}

.col-8 {
  width: 66.6666%;
}

.col-9 {
  width: 75%;
}

.col-12 {
  width: 100%;
}

.logo {
  display: inline-block;
  height: 40px;
}

.logo > img {
  height: 100%;
}

.nav > li {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 60px;
  padding: 0 20px;
  transition: padding 0.2s;
}

.nav > li:last-child {
  padding-right: 0;
}

@media screen and (max-width: 960px) and (min-width: 800px) {
  .nav > li {
    padding: 0 5px;
  }
}

.nav > li > a {
  color: black;
  text-decoration: none;
}

.nav > li > a:hover {
  color: royalblue;
}

.banner.bg {
  background-image: url('../images/big_banner.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner.mask {
  background-image: url('../images/mask-1.png');
  background-repeat: repeat;
}

*[class*=banner-] {
  font-weight: bold;
  color: white;
}

.banner-1 {
  height: 200px;
}

.banner-2 {
  font-size: 30px;
}

.banner-3 {
  height: 50px;
}

.banner-4 {
  font-size: 26px;
}

.banner-5 {
  height: 30px;
}

.banner-6 {
  font-size: 20px;
}

.banner-7 {
  height: 200px;
}

.blank-1 {
  height: 70px;
}

.service-1-bg.bg {
  background-image: url('../images/service-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

*[class*=service-] {
  padding: 0 20px;
}

.service-1 {
  height: 100px;
}

.service-2 {
  font-size: 30px;
}

.service-3 {
  color: rebeccapurple;
}

.service-4 {
  font-size: 18px;
}

.service-5 {
  height: 50px;
}

.service-6 {
  font-size: 14px;
}

.service-7 {
  height: 100px;
}

.blank-2 {
  height: 100px;
}

.title-1 {
  font-size: 30px;
}

.title-2 {
  color: rebeccapurple;
}

.title-3 {
  font-size: 14px;
}

.blank-3 {
  height: 50px;
}

.service-range {
  padding: 20px;
}

.service {
  border: solid 1px #ddd;
  padding: 20px 20px 50px;
  transition: box-shadow 0.5s;
}

.service:hover {
  box-shadow: 0 0 50px #ccc;
}

.service * {
  padding: 0;
}

.service img {
  width: 100%;
  transition: transform 0.3s;
}

.service img:hover {
  transform-origin: 50% 50% 0;
  transform: scale(1.1);
}

.service-info-1 {
  font-size: 22px;
  padding-top: 30px;
}

.service-info-2 {
  color: rebeccapurple;
  line-height: 30px;
}

.service-info-3 {
  font-size: 14px;
}

.flow img {
  width: 100px;
}

.flow-info-1 {
  padding-top: 20px;
  font-size: 20px;
}

.flow-info-2 {
  padding-top: 10px;
  font-size: 14px;
  padding-bottom: 30px;
}

.aim.bg {
  background-image: url('../images/big_aim.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aim.mask {
  background-image: url('../images/mask-2.png');
  background-repeat: repeat;
}

.aim-1 {
  height: 150px;
}

.aim-2 {
  font-size: 30px;
}

.aim-3 {
  color: rebeccapurple;
}

.aim-4 {
  font-size: 20px;
}

.aim-5 {
  height: 50px;
}

.aim-6, .aim-7 {
  font-size: 16px;
  line-height: 30px;
}

.aim-8 {
  height: 100px;
}

.advantage {
  padding: 20px;
}

.advantage img {
  height: 80px;
}

.advantage-info-1 {
  font-size: 24px;
  line-height: 30px;
}

.advantage-info-2 {
  font-size: 14px;
  line-height: 18px;
  padding-top: 20px;
}

.partener {
  padding: 20px 30px;
  height: 156px;
}

.partener > img {
  width: 100%;
  /* max-height: 156px; */
}

.contact.mask {
  background-image: url('../images/mask.png');
  background-repeat: repeat;
}

.contact.img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../images/map.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

*[class*=contact-] {
  color: white;
}

.contact-1, .contact-12 {
  height: 100px;
}

.contact-2, .contact-5, .contact-8 {
  font-size: 20px;
}

.contact-3, .contact-6, .contact-9 {
  font-size: 14px;
}

.contact-4, .contact-7, .contact-10 {
  height: 30px;
}

.contact-9 > a {
  color: white;
}

.contact-9 > a:hover {
  color: royalblue;
}

.contact-11 > img {
  width: 136px;
  height: 136px;
}

.mobile {
  display: none;
}

@media screen and (max-width: 800px) {
  .no-mobile {
    display: none !important;
  }
  .row-one {
    max-width: 100%;
    min-width: 100%;
  }
  .mobile {
    display: block;
  }
  .row.mobile {
    display: table;
  }
  .bg {
    background-attachment: initial !important;
  }
  .servicebg-wrapper {
    height: 300px;
  }
}