@font-face {
  font-family: "mac_ping_hei";
  src: url('../font/Ping_Hei_Bold.eot');
  src: url('../font/Ping_Hei_Bold.eot') format('embedded-opentype'), 
    url('../font/Ping_Hei_Bold.woff') format('woff'),
    url('../font/Ping_Hei_Bold.ttf') format('truetype'),
    url('../font/Ping_Hei_Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

.v-mid-box {
  text-align: center;
}

.v-mid-box > *, .v-mid-box:after {
  display: inline-block;
  vertical-align: middle;
}

.v-mid-box:after {
  content: '';
  width: 0;
  height: 100%;
}

.fixed-width-wrapper {
  width: 1138px;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  height: 120px;
}

.logo {
  float: left;
  height: 100%;
  width: fit-content;
  max-width: 220px;
}

.nav {
  float: right;
  height: 100%;
  width: 640px;
  font-size: 0;
}

.nav > a {
  font-family: "mac_ping_hei";
  text-decoration: none;
  font-size: 20px;
  padding: 0 1em;
  height: 100px;
  line-height: 100px;
}

.nav > a:hover {
  background-color: #eeeeee;
}