/*    悬浮层  */
.suspend{position:fixed; right:30px; top:200px; z-index:999999999; width:58px; height:130px;}
.suspend .susp_top{position:relative; top:18px; left:-6px;width:46px; height:50px; background:url(../img/pic_suspend.png); margin:0 auto;}
.suspend a{ float:left;width:50px; margin-top:2px; padding:10px 4px 8px; color:#fff; background:#d22b1e; font-size:12px;}
.suspend a:hover{text-decoration:none;}
.suspend a i{display:block; margin:0 auto 5px; height:22px; background:url(../img/pic_suspend.png);}
.suspend a .icon_one{width:18px; background-position:-51px 0;}
.suspend a .icon_tow{width:21px; background-position:-85px -28px;}
.suspend a .icon_three{width:28px;  background-position:-85px 0px;}
.suspend a .icon_four{width:18px; background-position:-51px -28px;}
.suspend .refer{position:relative; left:-23px; width:106px; top:120px}
.suspend .refer span{position:relative; z-index:2;display:block; width:26px; height:17px; margin:0 auto; background:url(../img/pic_suspend.png) -89px -53px; }
.suspend .refer a{position:relative; z-index:1; top:10px; padding:12px 6px 10px 5px; width:95px; border-radius:3px;}
.suspend .refer a i{ float:left; width:14px; height:12px;  background:url(../img/pic_suspend.png) right -32px;}
.suspend .refer a p{float:right; width:78px; height:9px; margin-top:2px;background:url(../img/pic_suspend.png) 0 -61px;}

.fixed {position: fixed; z-index:9999999999;top:401px;  right:30px; width:58px; height:125px;}
@-moz-document url-prefix(){
	.fixed{ top:380px;}	
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
	.fixed{ top:380px;}	
}
.fixed ul {position: relative; bottom: 0px; right: 40px; width: 45px;}
.fixed ul li {float: left; width:58px; height:60px; border-left:none; border-right:none;cursor: pointer; margin-top:2px;}
.fixed ul li b{float:left;  width:58px; height:60px; }
.fixed_wei div{display:none; position:absolute; right:60px; top:0px; padding:18px; border:1px solid #d22b1e; background:#fff;}
.fixed_wei div h5{line-height:18px; color:#ddd; text-align:center; margin-bottom:13px; }
.fixed_wei div span{display:block;position:absolute; right:-11px; top:22px; width:11px; height:19px; background:url(../img/icon_png.png) no-repeat left -126px;}
.fixed_iphon .tell_num{display:none; white-space:nowrap;position:absolute; right:43px; top:0;width:157px;font-size:23px; padding:20px 10px; border:1px solid #ddd; background:#F00; border-right:0; color:#fff;}
.fixed ul .fixed_iphon b{background:url(../img/img_tell.png) no-repeat 20px 20px;} 
.fixed ul .fixed_wei b{background:url(../img/img_wei1.png) no-repeat center #D22B1E;}
.fixed ul .fixed_top b{ background:url(../img/img_top1.png) no-repeat center #D22B1E;}

.show_nav_little {display:none;}
.show_nav_big {width:170px; height:auto; border:2px rgb(210, 43, 30) solid; position: fixed;right: 30px;top: 200px;z-index: 999999999; background:#ffffff;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
.show_nav_big .closed_nav { width:45px; height:14px; margin:5px auto 0 auto; background:url(../img/closeing.jpg) center center no-repeat; cursor:pointer;}
.show_nav_big .show_nav_title_1, .show_nav_big .show_nav_title_little, .show_nav_big ul.show_nav_qq, .show_nav_big .show_nav_title_2, .show_nav_big ul.show_nav_tel, .show_nav_big .show_nav_top {width:150px; height:auto; margin:0 auto;}
.show_nav_big .show_nav_title_1 {margin-top:13px;}
.show_nav_big .show_nav_title_1 span { display:block; width:95px; height:17px; background:url(../img/kefu.png) -15px -10px no-repeat; margin-left:3px;}
.show_nav_big .show_nav_dot_red {width:150px; height:1px; background:#d22b1e;margin:7px auto 0 auto;}
.show_nav_big .show_nav_title_little span {display:block; width:90px; height:21px; background:url(../img/kefu.png) -15px -154px no-repeat; margin-left:2px; }
.show_nav_big .show_nav_title_little {margin-top:10px;margin-bottom:12px;}
.show_nav_big .show_nav_dot_gray {width:150px; height:1px; background:#e6e5e4;margin:7px auto 0 auto;}
.show_nav_big ul.show_nav_qq {margin-top:7px;}
.show_nav_big ul.show_nav_qq li {width:inherit; overflow:hidden; border-bottom:1px #e6e5e4 solid;padding:10px 0;}
.show_nav_big ul.show_nav_qq li span {display:block;}
.show_nav_big ul.show_nav_qq li span.f1 {width:15px; height:16px; background:url(../img/kefu.png) -17px -86px no-repeat; float:left; margin-left:7px; margin-top:1px;}
.show_nav_big ul.show_nav_qq li span.f2 {margin-left:12px; float:left; margin-top:-3px; font-family: Microsoft YaHei;}
.show_nav_big ul.show_nav_qq li span.f2 a{color:#00a0ea;font-size:12px;}
.show_nav_big ul.show_nav_qq li span.f2 a:hover{ text-decoration:underline;}
.show_nav_big ul.show_nav_qq li span.f3 {width:40px; height:20px; background:url(../img/kefu.png) -16px -118px no-repeat; float:right; }
.show_nav_big ul.show_nav_qq li span.f3 a {display:block; width:100%; height:100%;}
.show_nav_big .show_nav_title_2 {margin-top:13px; margin-bottom:12px;}
.show_nav_big .show_nav_title_2 span { display:block; width:95px; height:17px; background:url(../img/kefu.png) -15px -49px no-repeat; margin-left:4px;}
.show_nav_big ul.show_nav_tel {}
.show_nav_big ul.show_nav_tel li {width:inherit; overflow:hidden; border-bottom:1px #e6e5e4 solid;padding:7px 0;}
.show_nav_big ul.show_nav_tel li span {display:block; float:left;}
.show_nav_big ul.show_nav_tel li span.f1 {width:13px; height:23px; background:url(../img/kefu.png) -18px -193px no-repeat; margin-left:5px;}
.show_nav_big ul.show_nav_tel li span.f2 {margin-top:7px; font-family: Microsoft YaHei; font-size:12px; color:#000; margin-top:3px; margin-left:6px;}
.show_nav_big .show_nav_top{ text-align:center;padding-top:17px; padding-bottom:12px;}
.show_nav_big .show_nav_top img {cursor:pointer;}
.show_nav_big .show_nav_top img.mar{ margin-left:10px;}
.show_naw_erweima{position: fixed;right: 204px;top: 510px;z-index: 999999999;}
.show_naw_erweima img{display:none;}